.movieCard {
  max-width: 30%;
  margin: 4rem auto;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  height: auto;
  font-family: "Alegreya Sans", sans-serif;
}

h1.card-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
}

div.card-body {
  font-size: 1.4rem;
}

.card-button {
  margin: 1rem auto;
}

.btn {
  margin: 0 auto;
  display: block;
  width: 100%;
}

@media all and (max-width: 576px) {
  .movieCard {
    max-width: 90%;
    margin: 1.5rem auto;
    padding: 0;
  }
  h1.card-title {
    font-size: 1.5rem;
  }
  div.card-body {
    font-size: 1.2rem;
  }
}
@media all and (min-width: 577px) and (max-width: 1024px) {
  .movieCard {
    max-width: 45%;
  }
  div.card-body {
    font-size: 1rem;
  }
}
