.main-view {
  margin: 0 auto;
}

.container-header {
  color: #edcdab;
  margin: 2rem auto;
}

.navbar {
  margin: 1.5rem auto;
  padding: 0;
}

.navbar-dark .navbar-nav a.nav-link {
  color: #edcdab;
}
