.movie-view {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: left;
  font-family: "Alegreya Sans", sans-serif;
}

.movie-row {
  margin-top: 0;
}

.return-button {
  border-radius: 8px;
  margin: 3rem auto;
  font-size: 1.3rem;
  background-color: #edcdab;
}

.label {
  font-weight: 700;
  color: #fed086;
}

.detail-view {
  margin-bottom: 7rem;
  padding: 0;
}
.movie-view_col {
  padding: 0;
}

@media all and (max-width: 576px) {
  .card {
    margin: 3rem auto;
    margin-bottom: 2rem;
  }
  .movie-view {
    font-size: 1.3rem;
  }
  .detail-view {
    max-width: 50%;
  }
}
@media all and (min-width: 577px) and (max-width: 1024px) {
  .detail-view {
    margin-left: 0;
    max-width: 50%;
  }
}
